<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - Site Name">Site Name</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/profile">Профиль</a></li>
            <li><a href="/history">Дневник</a></li>
            <li><a href="/reports">Отчеты</a></li>
            <li><a href="/settings">Настройки</a></li>
        </ul>
    </div>
    <div class="content" layout:fragment="content">
        <!-- Содержимое страницы вставляется сюда -->
    </div>
</div>
</body>
</html>